.footer {
  position: relative;
  height: 200vh;
}

.footer__wrap {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  padding: vw(60) vw(40);
  display: grid;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.footer__top {
  text-align: center;
  align-self: center;
  margin-top: vw(234);
  position: relative;
  z-index: 2;
}

.footer_mail {
  position: relative;
  text-align: center;
}

.footer_mail_footer {
  margin-top: vw(67);
}

.footer_mail__inner {
  display: inline-block;
  position: relative;
}

.footer_mail__line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: $light-color;
  margin-top: vw(10);
}

.footer__description {
  margin-top: vw(80);
  display: flex;
  gap: vw(4);
  flex-direction: column;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  gap: vw(80);
  align-self: flex-end;
  position: relative;
  z-index: 3;
}

.footer_social {
  display: flex;
  gap: vw(8);
  align-items: center;
  justify-content: center;
}

.footer_social__link {}
.footer_copyright__text {}
.footer_copyright__link {}

.footer_copyright {
  display: flex;
  justify-content: space-between;
}

// Footer Imgs

.footer_imgs {
  position: absolute;
  bottom: -29%;
  right: 5%;
  width: vw(467);
  height: vw(560);
  z-index: 2;
}

.footer_imgs__item {
  width: vw(467);
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.footer_imgs__item_1 { z-index: 6; }
.footer_imgs__item_2 { z-index: 5; }
.footer_imgs__item_3 { z-index: 4; }
.footer_imgs__item_4 { z-index: 3; }
.footer_imgs__item_5 { z-index: 2; }
.footer_imgs__item_6 { z-index: 1; }

@media (max-width: 768px) {
  .footer__wrap {
    padding: vwm(20) vwm(14);
  }

  .footer__title {
    font-size: vwm(25) !important;
    line-height: 100%;
    width: vwm(222);
    margin: 0 auto;
  }

  .footer_mail_footer {
    margin-top: vwm(32);
  }

  .footer_mail_footer :global(.sigurd-220) {
    font-size: vwm(37);
  }

  .footer_mail__line {
    width: 100%;
  }

  .footer__description {
    margin-top: vwm(48);
  }

  .footer_social {
    flex-direction: column;
    gap: vwm(8);
  }

  .footer_copyright {
    flex-direction: column;
    gap: vwm(6);
  }

  .footer_copyright :global(.geist-16) {
    font-size: vwm(12);
    text-align: center;
  }

  #copyright {
    order: 2;
  }

  .footer__bottom {
    gap: 13dvh;
  }

  .footer_imgs {
    display: none;
  }

  .footer__top {
    margin-top: 13dvh;
  }
}
